.idea
*.js
!jest.config.js
!academicplanner-frontend/src/features/campus/threeD/*.js
*.d.ts
!academicplanner-frontend/src/features/campus/threeD/campusMap.d.ts
node_modules
.env
.env.*
!.env.example

# CDK asset staging directory
.cdk.staging
cdk.out
